:root {
    --cor-primaria: #183C63;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
}

/* Quando o body tiver a classe tema-escuro, as variáveis mudam de valor */
body.tema-escuro {
    --cor-primaria: #a2c4ec;
    --cor-secundaria: #5ea1e9;
    --cor-fundo: #121214;
    --cor-texto: #f3eef7;
    --cor-contraste: #1e1e24;
}

/* Aplica as variáveis globalmente no corpo da página */
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background-color 0.3s, color 0.3s; /* Deixa a transição suave */
    font-family: sans-serif; /* Opcional: apenas para melhorar o visual */
}

/* Exemplo de uso das variáveis nos links e títulos se você quiser aplicar */
header h1, h2 {
    color: var(--cor-primaria);
}

a {
    color: var(--cor-secundaria);
}

/* Estilização fixa para posicionar o seu botão flutuando na tela */
.btn-tema-escuro {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-contraste);
}

